@mixin breakpoint($query) {

    @if $query == mobile { @media (min-width: 0px) and (max-width: 650px) { @content; } }
    @else if $query == tablet { @media (min-width: 650px) and (max-width: 900px) { @content; } }
    @else if $query == tabletXL { @media (min-width: 900px) and (max-width: 1350px) { @content; } }
    @else if $query == desktop { @media (min-width: 1350px) { @content; } }

}

@mixin shadow {

	box-shadow: 0 17px 20px 0 rgba(39,39,39,0.20);

}

@mixin clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;

    }
}